html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

button {
    background-color: #80D8FF;
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
}

#clrButton {
    background-color: #F50057;
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
}